.card {
    width: 100%;
    max-width: 300px;
    background-color: #051c01;
    box-shadow: 0 0 1rem 0 rgba(f, f, f, .2);
    border: 1px solid #ccc;
    border-radius: 10px;
    overflow: hidden;
  }
  
  .card-image {
    width: 100%;
    display: block;
  }
    
  .card-content h2 {
    padding: 0 25%;
    font-size: 24px;
  }
  
  .card-content h2 a {
    color: #fff;
    text-decoration: none;
  }
  
  .card-content h2 a:hover {
    color: green;
  }
  