<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="card.css" />
    <title>Document</title>
  </head>
  <body>
    <div class="card">
      <img
        src="../assets/dvaerg edderkop.jpg"
        alt="Billede af en dværg edderkop"
        class="card-image"
      />
      <div class="card-content">
        <h2><a href="#">Edderkopper</a></h2>
      </div>
    </div>
  </body>
</html>
