<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="robots" content="noindex" />
    <link rel="stylesheet" href="./css/style.css" />
    <title>WOJ - pasningsvejledning - xx</title>
  </head>
  <body>
    <header></header>
    <main class="mainbox">
      <div class="container">
        <div class="row">
          <div class="col">
            <h2>Latinsk navn her</h2>
            <h1>Navn her</h1>
            <p>Tekst her</p>
            <div class="row">
              <img src="./assets/measuretape-icon.png" />
              <p class="funfact">længde</p>
              <img src="./assets/weight-icon.png" />
              <p class="funfact">vægt</p>
              <img src="./assets/warningsign-icon.png" />
              <p class="funfact">ikke giftig</p>
            </div>
            <a
              href="https://drive.google.com/file/d/1Hg2IyEjj22xmko7YIHCzpQghQfFUqXCc/view?usp=sharing"
              target="_blank"
              download="Gargoyle Gekko pasningsvejledning"
            >
              <button type="button">Download vejledning</button>
            </a>
          </div>
          <div class="col">
            <img
              class="guideimg"
              src="./assets/gargoyle gecko.png"
              alt="Gargoyle gekko"
            />
          </div>
        </div>
        <div class="row">
          <div class="col">
            <h2>overskrift</h2>
            <p></p>
            <p></p>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <h2>overskrift</h2>
            <p></p>
            <p></p>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <h2>overskrift</h2>
            <p></p>
            <p></p>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <h2>overskrift</h2>
            <p></p>
            <p></p>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <h2>overskrift</h2>
            <p></p>
            <p></p>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <h2>overskrift</h2>
            <p></p>
            <p></p>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <h2>overskrift</h2>
            <p></p>
            <p></p>
          </div>
        </div>
      </div>
    </main>
    <!-- FOOTER START -->
    <footer>
      <div class="footer-column">
        <h4>World of Jungle</h4>
        <div class="email">
          <img class="some-icons" src="./assets/mail-icon.png" />
          <a class="mail" href="mailto:world.of.jungle@gmail.com"
            >world.of.jungle@gmail.com</a
          >
        </div>
      </div>

      <div class="footer-column">
        <img
          class="footer-logo"
          src="./assets/Logo.png"
          alt="World of jungles logo i footeren"
        />
      </div>

      <div class="footer-column">
        <h4>Følg os her</h4>
        <div class="social-media">
          <a
            href="https://www.facebook.com/WorldOfJungle"
            aria-label="Følg os på facebook"
            ><img
              class="some-icons"
              alt="facebook ikon"
              src="./assets/facebook-icon.png"
          /></a>
          <a
            href="https://www.instagram.com/worldofjungle/"
            aria-label="Følg os på instagram"
            ><img class="some-icons" src="./assets/instagram-icon.png"
          /></a>
          <a
            href="https://www.tiktok.com/@therealworldofjungle"
            aria-label="Følg os på tiktok"
            ><img class="some-icons" src="./assets/tiktok-icon.png"
          /></a>
        </div>
      </div>
    </footer>
    <!-- FOOTER ENDS -->
  </body>
</html>
